# Check on a daily basis that the main branch builds so that we do a true
# test of whether dependencies still work.

name: daily

on:
  schedule:
  - cron: "30 6 * * *"

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", pypy-3.7, pypy-3.9]

    steps:
    - uses: actions/checkout@e6d535c99c374d0c3f6d8cd8086a57b43c6c700a # v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@b55428b1882923874294fa556849718a1d7f2ca5 # v4.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Test with pytest
      run: |
        pytest -p no:smtpd --cov
